.question_text{
    padding-left: 30px;
    height: 100%;
    color: black;
    font-size: 24px
}

.buttonNext{
    color: white;
    background-color: #156EF2;
    font-size: 20px;
    border-radius: 12px;
    padding: 15px 15px;
}